.onDelivery{
  display: none;
}
#showBill{
  display: none;
  font-size: normal;
  color: white;
}

.page{
  width: 60%;
  border-left: 20%;
  margin-left: 15%;

}
#phone{
  font-size: bold;
  font-style: italic;
  color: blue;
}
header{
  background-color:#B98C8C;
  margin-left: 15%;
  margin-top: 5%;
  font-style: italic;
  font-weight: bolder;
  text-align: center;
}
body,html{
  margin: 0;
  height: 100%;
  width: 100%;
}
.background{
  background: radial-gradient(circle, black, white);
  margin:0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat:no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
